# SMTP Configuration for Email Feedback
SMTP_HOST=smtp.strato.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=emailToReceive
SMTP_PASSWORD=passwordWithoutQuoesNoStrangeSigns
SMTP_FROM=noreply@thewudlands.eu
