# SMTP Configuration for Email Feedback
SMTP_HOST=smtp.strato.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=emailToReceive
SMTP_PASSWORD=passwordWithoutQuoesNoStrangeSigns
SMTP_FROM=noreply@thewudlands.eu

# MongoDB (Firestore with MongoDB compatibility)
MONGODB_URI=mongodb://<user>:<password>@<host>.eur3.firestore.goog:443/thewudlands?loadBalanced=true&tls=true&authMechanism=SCRAM-SHA-256&retryWrites=false
MONGODB_DB_NAME=thewudlands

# for deployment as cloud run service, set the following environment variable to the name of the service account key file
# MONGODB_URI=mongodb://<host>.eur3.firestore.goog:443/thewudlands?loadBalanced=true&tls=true&retryWrites=false&authMechanism=MONGODB-OIDC&authMechanismProperties=ENVIRONMENT:gcp,TOKEN_RESOURCE:FIRESTORE


